
/.settings
/.project
/api/.settings
/api/target
/api/.classpath
/api/.project
/thumbnails/.settings
/thumbnails/target
/thumbnails/.classpath
/thumbnails/.project
/flexpaper-gpl/.settings
/flexpaper-gpl/target
/flexpaper-gpl/.classpath
/flexpaper-gpl/.project
/viewer/.settings
/viewer/target
/viewer/.classpath
/viewer/.project
/viewer/service/.classpath

/viewer/service/.project
/viewer/service/.settings
/viewer/service/target
/viewer/web/.settings
/viewer/web/target
/viewer/web/.classpath
/viewer/web/.project
